<div class="form">
  <label class="col-sm-2 col-form-label">
    Category Name
  </label>
  <div class="col-sm-10">
    <input type="text" class="form-control" [(ngModel)]="category_Name "
           *ngIf="item == null" placeholder="Enter category name" />
  </div>
  <div class="col-sm-10">
    <input type="text" class="form-control" [(ngModel)]="category_Name "
           *ngIf="item != null" placeholder="{{item.category_Name}}" />
  </div>
  <button (click)="addCategory()" *ngIf="item == null" class=" btn btn-primary">Add</button>
  <button (click)="updateCategory()" *ngIf="item != null" class=" btn btn-primary">Update</button>

</div>
