<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Techonomy</title>
  <link rel="stylesheet" href="main-products-filter-product-name-category.component.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>
<body>
  <nav>
    <div class="logo">
      Techonomy
    </div>
    <label for="btn" class="icon">
      <span class="fa fa-bars"></span>
    </label>
    <input type="checkbox" id="btn">
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li>
        <label for="btn-1" class="show">Categories</label>
        <a>Categories</a>
        <input type="checkbox" id="btn-1">
        <ul>
          <li *ngFor="let categoryItem of CategoryList"><a (click)="categorySelector(categoryItem.categoryId)">{{categoryItem.category_Name}}</a></li>
        </ul>
      </li>
      <li><a href="techonomy/cart"><i class="fas fa-shopping-cart"></i></a></li>
      <li><a href="techonomy/favourites"><i class="fas fa-heart"></i></a></li>
      <li>
        <label for="btn-2" class="show"><i class="fas fa-user"></i></label>
        <a><i class="fas fa-user" (click)="checkLogin()"></i></a>
        <input type="checkbox" id="btn-2">
        <ul [(ngModel)]="isLoggedIn" *ngIf="isLoggedIn" ngDefaultControl>
          <li><a routerLink="/user/edit">Edit profile</a></li>
          <li><a routerLink="/" (click)="onLogout()">Logout</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <!---------- content ---------------->
  <div class="small-container">
    <div class="row marginer">
      <p class="titlecart pta">Products</p>
    </div>
    <div class="row marginer2">
      <div class="filter">
        <label for="name">Name filter:</label>
        <input type="search" name="name" id="name" [(ngModel)]="inputFieldName">
      </div>
      <div class="filter">
        <label for="category">Category filter:</label>
        <select class="form-control" id="category" name="category" [(ngModel)]="selectedOption_category">
          <option selected="selected" value="-1">none</option>
          <option *ngFor="let categoryItem of CategoryList" value="{{categoryItem.categoryId}}">{{categoryItem.category_Name}}</option>

        </select>
      </div>
      <div class="filter">
        <a><i class="fas fa-search" (click)="filterClicked()"></i></a>
      </div>
    </div>
    <div class="row" *ngIf="ProductImageNameList.length == 0" style="padding-top:100px;padding-bottom:100px;"><h2>Couldn't find any products that you were looking for</h2></div>

    <div class="row">
      <div class="col-4" *ngFor="let item of ProductImageNameList; let j = index">

        <img src="{{ProductImageNameList[j]}}" (click)="productPictureClicked(ProductList[j])">
        <h4>{{ProductList[j].product_Name}}</h4>
        <div class="rating">

          <!-- Nem akarom elhinni, hogy ezt nem lehetne másként megcsinálni -->
          <i class="fas fa-star" *ngIf="ProductList[j].stars >= 1"></i>
          <i class="fas fa-star" *ngIf="ProductList[j].stars >= 2"></i>
          <i class="fas fa-star" *ngIf="ProductList[j].stars >= 3"></i>
          <i class="fas fa-star" *ngIf="ProductList[j].stars >= 4"></i>
          <i class="fas fa-star" *ngIf="ProductList[j].stars >= 5"></i>

          <i class="far fa-star" *ngIf="ProductList[j].stars === 4"></i>

          <i class="far fa-star" *ngIf="ProductList[j].stars === 3"></i>
          <i class="far fa-star" *ngIf="ProductList[j].stars === 3"></i>

          <i class="far fa-star" *ngIf="ProductList[j].stars === 2"></i>
          <i class="far fa-star" *ngIf="ProductList[j].stars === 2"></i>
          <i class="far fa-star" *ngIf="ProductList[j].stars === 2"></i>

          <i class="far fa-star" *ngIf="ProductList[j].stars === 1"></i>
          <i class="far fa-star" *ngIf="ProductList[j].stars === 1"></i>
          <i class="far fa-star" *ngIf="ProductList[j].stars === 1"></i>
          <i class="far fa-star" *ngIf="ProductList[j].stars === 1"></i>

          <i class="far fa-star" *ngIf="ProductList[j].stars === 0"></i>
          <i class="far fa-star" *ngIf="ProductList[j].stars === 0"></i>
          <i class="far fa-star" *ngIf="ProductList[j].stars === 0"></i>
          <i class="far fa-star" *ngIf="ProductList[j].stars === 0"></i>
          <i class="far fa-star" *ngIf="ProductList[j].stars === 0"></i>

        </div>

        <p>{{ProductList[j].price}}</p>

      </div>
    </div>
  </div>
  <!------- footer ------------>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12 segment-one">
          <h6>About us</h6>
          <p class="footer-p">
            BME Training Project lab<br>
            Made by<br>Roland Surmann,<br> Kristóf Varga <br>
            2020<br>
            Design from:<br><a href="https://easytutorialspro.com/" style="color:brown">https://easytutorialspro.com/</a>
          </p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 segment-two">
          <h6>Follow us</h6>
          <p class="footer-p">Please follow us on our social media profile in order to keep updated.</p>
          <a href="https://www.facebook.com/"><i class="foot fab fa-facebook"></i> </a>
          <a href="https://twitter.com/"><i class="foot fab fa-twitter"></i> </a>
          <a href="https://www.instagram.com/"><i class="foot fab fa-instagram"></i> </a>
          <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstleyVEVO"><i class="foot fab fa-youtube"></i> </a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 segment-three">
          <h6>Our Newsletter</h6>
          <p class="footer-p">Please subscribe our newsletter to get the latest news!</p>
          <form action="">
            <input type="email" name="email" id="email">
            <input type="submit" value="Subscribe">
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
