<body>
  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo">Techonomy</label>
    <ul>
      <li><a routerLink="/admin" >Home</a></li>
      <li><a routerLink="/product" class="active">Products</a></li>
      <li><a routerLink="/supplier">Suppliers</a></li>
      <li><a routerLink="/category">Categories</a></li>
      <li><a routerLink="/user">Users</a></li>
      <li><a routerLink="/order">Orders</a></li>
      <li><a><i class="fas fa-user" (click)="onLogout()"></i></a></li>
    </ul>
  </nav>
  <div class="table-container">
    <h2 class="table-heading">Products list</h2>
    <table>

      <thead>
        <tr>
          <th>Image</th>
          <th>ID</th>       
          <th>Product name</th>
          <th>Category</th>
          <th>Price</th>
          <th>Shipping Price</th>
          <th>Supplier</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let dataItem of ProductList; let i = index">
          <td data-heading="Image"><img src="{{ImageNameList[i]}}"style="width:60px;height:60px;"></td>
          <td data-heading="ID">{{dataItem.productID}}</td>
          <td data-heading="Product name">{{dataItem.product_Name}}</td>
          <td data-heading="Category">{{dataItem.category_Name}}</td>
          <td data-heading="Price">{{dataItem.price}}</td>
          <td data-heading="Shipping Price">{{dataItem.shipping_Price}}</td>
          <td data-heading="Supplier">{{dataItem.name}}</td>
          <td data-heading="Modify/Delete">
            <a><i class="fas fa-edit" (click)="editClick(dataItem)"></i></a>
            <a><i class="fas fa-trash-alt" (click)="deleteClick(dataItem)"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="newbutton">
      <button type="submit" name="new" (click)="addProduct()">+</button>
    </div>
  </div>

</body>

