<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Techonomy főoldal</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="webshopstyle.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
  <app-navbar></app-navbar>
 

  <div class="container" style="margin-top: 100px">
    <div class="row">
      <div class="col-7">
        <h1>Enjoy your food everywhere!</h1>
        <p>Food can make your life happier.<br>Buy from us.</p>
        <a class="btn" (click)="ExploreClicked()" >Explore now &#10141;</a>
      </div>

    </div>
  </div>

  <!---------- featured categories----------->
  <div class="categories">
    <div class="small-container">
      <div class="row">
        <div class="col-3" *ngFor="let dataItem of FeaturedCategoryImageNameList; let i = index">
          <img src="{{FeaturedCategoryImageNameList[i]}}"  (click)="categoryPictureClicked(i)">
        </div>
      </div>
    </div>

  </div>
  <!---------- featured products ----------->
  <div class="small-container">
    <h2 class="title">Featured Products</h2>
    <div class="row">
      <div class="col-4" *ngFor="let item of ProductImageNameList; let j = index">
        <img src="{{ProductImageNameList[j]}}" (click)="productPictureClicked(ProductList[j])">
        <h4>{{ProductList[j].product_Name}}</h4>
        <div class="rating">
          <i class="fas fa-star" *ngFor="let test of ProductList[j].starsList"></i>
          <i class="far fa-star" *ngFor="let test of ProductList[j].emptyStarsList"></i>
        </div>

        <p>{{ProductList[j].price}} Ft</p>

      </div>
    </div>
  </div>

  <!------- footer ------------>
  <app-footer></app-footer>
</body>
</html>
