*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}

body{
  background: white;
  overflow-x:hidden;
  font-family: 'Montserrat', sans-serif;
}
nav{
  background: #1b1b1b;
  width: auto;

}
nav:after{
  content: '';
  clear: both;
  display: table;
}
nav .logo{
  float: left;
  color: white;
  font-size: 27px;
  font-weight: 600;
  line-height: 70px;
  padding-left: 60px;
}
nav ul{
  float: right;
  margin-right: 40px;
  list-style: none;
  position: relative;
}
nav ul li{
  float: left;
  display: inline-block;
  background: #1b1b1b;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  line-height: 70px;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 15px;
}
nav ul li a:hover{
  color: cyan;
  border-radius: 5px;
  box-shadow:  0 0 5px #33ffff,
  0 0 10px #66ffff;
}
nav ul ul li a:hover{
  box-shadow: none;
}
nav ul ul{
  position: absolute;
  top: 90px;
  opacity: 0;
  visibility: hidden;
  transition: top .3s;
}
nav ul ul ul{
  border-top: none;
}
nav ul li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
}
nav ul ul li{
  position: relative;
  margin: 0;
  right: 50px;
  width: 150px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
nav ul ul li a{
  line-height: 50px;
}
nav ul ul ul li{
  position: relative;
  top: -60px;
  left: 150px;
}
.show,.icon,input{
  display: none;
}
.fa-plus{
  font-size: 15px;
  margin-left: 40px;
}
@media all and (max-width: 968px) {
  nav ul{
    margin-right: 0;
    text-align: center;
  }
  .col-2{
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .col-2 img{
    display: none;
  }
  nav .logo{
    padding-left: 30px;
    width: 100%;
  }
  .show + a, ul{
    display: none;
  }
  nav ul li,nav ul ul li{
    display: block;
    width: 100%;
    margin-right: 200px;
  }
  nav ul li a:hover{
    box-shadow: none;
  }
  .show{
    display: block;
    color: white;
    font-size: 18px;
    position: center;
    line-height: 70px;
    cursor: pointer;
  }
  .show:hover{
    color: cyan;
  }
  .icon{
    display: block;
    color: white;
    position: absolute;
    top: 0;
    right: 40px;
    line-height: 70px;
    cursor: pointer;
    font-size: 25px;
  }
  nav ul ul{
    top: 70px;
    border-top: 0;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
  }
  nav ul ul li{
    right: -5px;
  }
  nav ul ul a{
    padding-left: 10px;
  }
  nav ul ul ul a{
    padding-left: 40px;
  }
  nav ul ul ul li{
    position: static;
  }
  [id^=btn]:checked + ul{
    display: block;
  }
  nav ul ul li{
    border-bottom: 0;
  }
  span.cancel:before{
    content: '\f00d';
  }
}
header{
  font-size: 35px;
  font-weight: 600;
  padding: 10px 0;
}
p{
  font-size: 30px;
  font-weight: 500;
}
header{
  font-size: 35px;
  font-weight: 600;
  padding: 10px 0;
}
p{
  font-size: 30px;
  font-weight: 500;
}
a{
  text-decoration: none;
  color: black;
}
p{
  color: #4b4b4b;
}
.container{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-2{
  flex-basis: 50%;
  min-width: 300px;
  padding: 40px;
}
.col-2 img{
  max-width: 100%;
  padding: 50px 0;
}
.col-2 h1{
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.btn{
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background-color 0.5s;
}
.btn:hover{
  background: #563434;
}

.header .row{
  margin-top: 50px;
}
.categories{
  margin: 70px 0;  
}
.col-3{
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
  transition: transform 0.5s;
}
.col-3 img{
  width: 100%;
}
.small-container{
  max-width: 1080px;
  margin: auto;
  padding-right: 25px;
  padding-left: 25px;
}
.col-4{
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}
.col-4 img{
  width: 100%;
}
.title{
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}
h4{
  color: #555;
  font-weight: normal;
}
.col-4 p{
  font-size: 14px;
}
.rating .fa{
  color: #ff523b;
}
.col-4:hover,.col-3:hover{
  transform: translateY(-5px);
}
.footer-p{
  color: #999;
  line-height: 25px;
  font-size: 16px;
}
h6{
  color: #fff;
  font-size: 17px;
  border-left: #ff523b 1px solid;
  padding-left: 10px;
  margin-bottom: 10px;
}
.footer{
  background: #111;
  padding: 80px 0;
}
.segment-one{
  color: #fff;
  letter-spacing: 3px;
  margin: 10px;
}
.segment-two{
  color: #fff;
  letter-spacing: 3px;
  margin: 10px;
}
.segment-three{
  color: #fff;
  letter-spacing: 3px;
  margin: 10px;
}
.foot{
  color: white;
  margin-top: 5px;
}
form{
  margin-top: 5px;
}
form input[type="submit"]{
  background: #c65039;
  border: none;
  padding: 3px 15px;
  margin-left: -5px;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 10px;
}
form input[type="email"]{
  border: none;
  padding: 3px 15px;
  margin-top: 10px;
  display: inline-block;
}
.segment-one, .segment-two, .segment-three{
  min-width: 250px;
  min-height: 200px;
  margin-bottom: 20px;
  flex-basis: 30%;
}
.menu-icon{
  width: 28px;
  margin-left: 20px;
  display: none;
}

