<div class="form">
  <label class="col-sm-2 col-form-label">
    Amount
  </label>
  <div class="col-sm-10">
    <input type="number" class="form-control" [(ngModel)]="amount"
           *ngIf="orderItem == null" placeholder="Enter Amount" />
    <input type="number" class="form-control" [(ngModel)]="amount"
           *ngIf="orderItem != null" placeholder="{{orderItem.amount}}" />
  </div>

  <label class="col-sm-2 col-form-label">
    Price
  </label>
  <div class="col-sm-10">
    <input type="number" class="form-control" [(ngModel)]="price"
           *ngIf="orderItem == null" placeholder="Enter the price" />
    <input type="number" class="form-control" [(ngModel)]="price"
           *ngIf="orderItem != null" placeholder="{{orderItem.price}}" />
  </div>

  <label class="col-sm-2 col-form-label">
    productID
  </label>
  <div class="col-sm-10">
    <input type="number" class="form-control" [(ngModel)]="productID"
           *ngIf="orderItem == null" placeholder="Enter the productID" />
    <input type="number" class="form-control" [(ngModel)]="productID"
           *ngIf="orderItem != null" placeholder="{{orderItem.productID}}" />
  </div>
  <button (click)="addOrderItem()" *ngIf="orderItem == null" class=" btn btn-primary">Add</button>
  <button (click)="updateOrderItem()" *ngIf="orderItem != null" class=" btn btn-primary">Update</button>
</div>


