<body>
  <div class="addmodify supplier">
    <form *ngIf="addForm">

      <p>Amount</p>
      <div class="col-sm-10">
        <input type="number" name="add_amount" class="form-control" [(ngModel)]="amount" placeholder="Enter Amount" />
      </div>

      <p>Price</p>
      <div class="col-sm-10">
        <input type="number" name="add_price" class="form-control" [(ngModel)]="price"  placeholder="Enter the price" />      
      </div>

      <p>productID</p>
      <div class="col-sm-10">
        <input type="number" name="add_productID" class="form-control" [(ngModel)]="productID"  placeholder="Enter the productID" />       
      </div>
      <input type="submit" name="addButton" (click)="addOrderItem()" value="Add"/>
      <input type="submit" name="cancelButton" (click)="cancel()" value="Cancel" />
    </form>


    <form *ngIf="!addForm">
      <h1>Orderitem modify</h1>

      <p>Status</p>
      <input type="text" name="status" [(ngModel)]="statusName" *ngIf="selectedStatus != true" placeholder="{{item.statusName}}"
             (click)="selectStatus()" />
      <div *ngIf="selectedStatus">
        <select class="form-control" name="status_edit" [(ngModel)]="selectedOption_statusId">
          <option *ngFor="let dataItem of StatusList" value="{{dataItem.statusId}}" >{{dataItem.name}}</option>
        </select>
      </div>
      <input type="submit" name="" value="Modify" (click)="updateOrderItem()">
      <input type="submit" name="" value="Cancel" (click)="cancel()">
    </form>
</div>
</body>



