<div class="loginbox reg">
  <div>
    <img src="assets/avatar.png" class="avatar" alt="hello">
  </div>
  <h1>Register here</h1>
  <div class="col-sm-10">
    <p>Username</p>
    <input type="text" name="" class="form-control required" [(ngModel)]="username" placeholder="Enter username" />
  </div>
  <div class="col-sm-10">
    <p>Email</p>
    <input type="text" name="" class="form-control" [(ngModel)]="email" placeholder="Enter the email address" />
  </div>
  <div class="col-sm-10">
    <p>Password</p>
    <input type="password" name="" class="form-control" [(ngModel)]="password" placeholder="Enter the password" />
  </div>
  <div class="col-sm-10">
    <p>ConfirmPassword</p>
    <input type="password" name="" class="form-control" placeholder="Confirm the password" />
  </div>
  <input type="submit" (click)="addUser()" name="" value="Register" />
  <input type="submit" name="cancel" value="Cancel" (click)="cancel()">
</div>    
     
        
   
    
