<!-- Button trigger modal -->
<button type="button" class="btn btn-primary float-right m-2"
        data-toggle="modal" data-target="#exampleModal"
        (click)="addClick()"
        data-backdrop="static" data-keyboard="false">
  Add a new supplier
</button>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
        <button type="button" class="close"
                data-dismiss="modal" aria-label="Close"
                (click)="closeClick()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-add-modify-supplier [sup]="sup" *ngIf="ActivateAddEditSupComp">
        </app-add-modify-supplier>
      </div>
    </div>
  </div>
</div>


<table class="tableStyle">
  <thead>
    <tr>
      <th scope="col">supplierId</th>
      <th scope="col">name</th>
      <th scope="col">address</th>
      <th scope="col">multiplier</th>     
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dataItem of SupplierList">
      <td>{{dataItem.supplierId}}</td>
      <td>{{dataItem.name}}</td>
      <td>{{dataItem.address}}</td>
      <td>{{dataItem.multiplier}}</td>      
      <td>
        <button type="button" class="btn btn-primary"
                data-toggle="modal" data-target="#exampleModal"
                (click)="editClick(dataItem)"
                data-backdrop="static" data-keyboard="false">
          Edit
        </button>
        <button type="button" class="btn btn-primary"
                (click)="deleteClick(dataItem)">
          Delete
        </button>
      </td>
    </tr>

  </tbody>
</table>
