<body>
  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo">Techonomy</label>
    <ul>
      <li><a routerLink="/admin">Home</a></li>
      <li><a routerLink="/product">Products</a></li>
      <li><a routerLink="/supplier">Suppliers</a></li>
      <li><a routerLink="/category">Categories</a></li>
      <li><a routerLink="/user"  class="active">Users</a></li>
      <li><a routerLink="/order">Orders</a></li>
      <li><a><i class="fas fa-user" (click)="onLogout()"></i></a></li>
    </ul>
  </nav>
  <div class="table-container">
    <h2 class="table-heading">Users list</h2>
    <table>

      <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Email</th>
          <th>Role</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dataItem of UserList">          
          <td data-heading="ID">{{dataItem.id}}</td>
          <td data-heading="Username">{{dataItem.username}}</td>
          <td data-heading="Email">{{dataItem.email}}</td>
          <td data-heading="Role">{{dataItem.role}}</td>
          <td data-heading="Modify/Delete">
            <a><i class="fas fa-edit" (click)="editClick(dataItem)"></i></a>
            <a><i class="fas fa-trash-alt" (click)="deleteClick(dataItem)"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="newbutton">
      <label for="new">Add new admin:</label><br>
      <button type="submit" name="new" (click)="addAdmin()">+</button>
    </div>
  </div> 
</body>

