* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: sans-serif;
  background: linear-gradient(-30deg,#ff6b6b,#ff9f43);
  background-size: cover;
  min-height: 100vh;
}

.content {
  background: linear-gradient(-30deg,#ff6b6b,#ff9f43);
  background-size: cover;
}

nav {
  background: #1e272e;
  height: 80px;
  width: 100%;
  color: white;
}

label.logo {
  color: white;
  font-size: 20px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 18px;
}

  nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }

    nav ul li a {
      color: white;
      font-size: 11px;
      text-transform: uppercase;
      border-radius: 3px;
      padding: 7px 13px;
    }

a.active, a:hover {
  background: #ff6b6b;
  color: black;
  transition: .5s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 18px;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 10px;
  }
}

@media (max-width: 858px) {
  label.logo {
    font-size: 17px;
    padding-left: 50px;
  }

  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2f3640;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li {
    display: block;
    margin: 30px 0;
    line-height: 30px;
  }

    nav ul li a {
      font-size: 20px;
    }

  a:hover, a.active {
    background: none;
    color: #ff6b6b;
  }

  #check:checked ~ ul {
    left: 0;
  }
}

.table-container {
  padding: 32px;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(-30deg,#ff6b6b,#ff9f43);
  min-height: 100vh;
}

  .table-container h2.table-heading {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 32px;
    border-bottom: 1px solid black;
    padding-bottom: 8px;
  }

  .table-container table {
    width: 100%;
    background: #fff;
    color: #222;
    padding: 24px;
    box-shadow: 0 4px 15px -8px rgba(0, 0, 0, 0.4);
    border-collapse: collapse;
  }

    .table-container table thead tr {
      background: #222;
      color: #fff;
    }

    .table-container table td,
    .table-container table th {
      padding: 16px 32px;
      text-align: center;
    }

    .table-container table tr {
      border-bottom: 1px solid #eee;
    }

@media (max-width: 900px) {
  .table-container table thead {
    display: none;
  }

  .table-container table td {
    display: block;
  }

    .table-container table td::before {
      content: attr(data-heading) ": ";
      font-weight: bold;
    }
}

h3.table-heading {
  text-align: center;
  position: center;
  left: 20%;
  margin-top: 300px;
  font-size: 60px;
  font-weight: bold;
}

.newbutton {
  text-align: center;
  position: center;
  left: 20%;
}

  .newbutton button {
    text-align: center;
    position: center;
    left: 20%;
    font-size: 30px;
    font-weight: bold;
    padding: 5px 15px;
    background: white;
    margin-top: 30px;
    text-align: center;
    border: 2px solid white;
    border-radius: 45px;
    width: 170px;
    color: #1e272e;
    font-weight: bold;
  }

    .newbutton button:hover {
      border: 2px solid black;
      background: black;
      color: white;
    }

tbody tr:hover {
  background: #d1d8e0;
}

.newbutton label {
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: -10px;
  border-bottom: 2px solid black;
  padding: 10px;
}

.addmodify p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.addmodify input, .addmodify select {
  width: 100%;
  margin-bottom: 10px;
}

  .addmodify input[type="text"], input[type="number"] {
    border: none;
    border-bottom: 1px solid #ffffff;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 20px;
  }

  .addmodify input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    margin-top: 20px;
  }

    .addmodify input[type="submit"]:hover {
      cursor: pointer;
      background: aliceblue;
      color: #000;
    }

.addmodify select {
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
}

  .addmodify select:focus, select:active {
    background: transparent;
    border: none;
  }

option {
  border: 1px solid #ffffff;
  background: black;
}

  option:checked {
    background: white;
  }

  option:hover {
    background: #ff7f50;
  }

h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 45px;
}

.product {
  width: 520px;
  height: 700px;
  background: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 25px 30px;
  border-radius: 20px;
}

.supplier {
  width: 520px;
  height: 500px;
  background: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 25px 30px;
  border-radius: 20px;
}

.category {
  width: 520px;
  height: 350px;
  background: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 25px 30px;
  border-radius: 20px;
}

.order {
  width: 520px;
  height: 550px;
  background: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 25px 30px;
  border-radius: 20px;
}
