<h2> Hello</h2>
<div class="container">

  <nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
      <a class="navbar-brand" href="#">Home</a>
      <a class="py-2 d-none d-md-inline-block" routerLink="category">Category</a>
      <a class="py-2 d-none d-md-inline-block" routerLink="review">Review</a>
      <a class="py-2 d-none d-md-inline-block" routerLink="supplier">Supplier</a>
      <a class="py-2 d-none d-md-inline-block" routerLink="user">User</a>
      <a class="py-2 d-none d-md-inline-block" routerLink="product">Product</a>
      <a class="py-2 d-none d-md-inline-block" routerLink="cart">Cart</a>
      <a class="py-2 d-none d-md-inline-block" routerLink="order">Order</a>
      <a class="py-2 d-none d-md-inline-block" routerLink="orderitem">Orderitem</a>
      <a class="py-2 d-none d-md-inline-block" routerLink="productcart">Productcart</a>
    </div>
  </nav>

</div>
<router-outlet></router-outlet>
