
<body>
  <div class="loginbox log">
    <div>
      <img src="{{avatarImageRoute}}" class="avatar" alt="hello">
    </div>    
    <h1>Login here</h1>
    <form #form='ngForm' class="mb-4" autocomplete="off" (submit)="onSubmit(form)">
      <p>Username</p>
      <input type="text" class="form-control" #Username="ngModel" name="Username" [(ngModel)]="formModel.Username" required>
      <p>Password</p>
      <input type="password" class="form-control" #Username="ngModel" name="Password" [(ngModel)]="formModel.Password" required>
      <input type="submit" name="" value="Login" [disabled]="form.invalid">
    </form>
    <a href="#">Forgot your password?</a><br>
    <a routerLink="/register">Don't have an account?</a>
  </div>
</body>

