<nav class="site-header sticky-top py-1">
  <div class="container d-flex flex-column flex-md-row justify-content-between">   
    <button class="btn btn-danger my-2 my-sm-2" (click)="onLogout()">Logout</button>
    <a class="nav-link" routerLink="/admin">Admin panel</a>
  </div>
</nav>

<div class="card m-5" style="width: 18rem" *ngIf="userDetails">
  <ul class="list-group">
    <li class="list-group-item">
      <strong>Username: </strong>{{userDetails.userName}}
    </li>
    <li class="list-group-item">
      <strong>Email: </strong>{{userDetails.email}}
    </li>
    <li class="list-group-item">
      <strong>Id: </strong>{{userDetails.id}}
    </li>
  </ul>
</div>
