<div class="form">
  <label class="col-sm-4 col-form-label">
    Supplier name
  </label>
  <div class="col-sm-10">
    <input type="text" class="form-control" [(ngModel)]="name "
           *ngIf="item !=null" placeholder="{{item.name}}" />
  </div>
  <div class="col-sm-10">
    <input type="text" class="form-control" [(ngModel)]="name "
           *ngIf="item ==null" placeholder="Enter the supplier name" />
  </div>
  <label class="col-sm-4 col-form-label">
    Supplier address
  </label>
  <div class="col-sm-10">
    <input type="text" class="form-control" [(ngModel)]="address "
           *ngIf="item == null" placeholder="enter the addresss" />
  </div>
  <div class="col-sm-10">
    <input type="text" class="form-control" [(ngModel)]="address "
           *ngIf="item != null" placeholder="{{item.address}}" />
  </div>
  <label class="col-sm-4 col-form-label">
    Supplier multiplier
  </label>
  <div class="col-sm-10">
    <input type="number" class="form-control" [(ngModel)]="multiplier "
           *ngIf="item == null" placeholder="Enter the multiplier" />
  </div>
  <div class="col-sm-10">
    <input type="number" class="form-control" [(ngModel)]="multiplier "
           *ngIf="item !=null" placeholder="{{item.multiplier}}" />
  </div>

  <button (click)="addSupplier()" *ngIf="item == null" class=" btn btn-primary">Add</button>
  <button (click)="updateSupplier()" *ngIf="item != null" class=" btn btn-primary">Update</button>

</div>
