<body>
  <div class="addmodify product">
    <h1 *ngIf="item == null">Product add</h1>
    <h1 *ngIf="item != null">Product modify</h1>
    <form>

      <p>Product Name</p>
      <input type="text" [(ngModel)]="product_Name" name="name_null" placeholder="Enter product name" *ngIf="item == null" />
      <input type="text" name="name" [(ngModel)]="product_Name" *ngIf="item != null" placeholder="{{item.product_Name}}">


      <p>Price</p>
      <input type="number" [(ngModel)]="price" name="price_null" placeholder="Enter price" *ngIf="item == null" />
      <input type="number" name="price" [(ngModel)]="price" *ngIf="item != null" placeholder="{{item.price}}">


      <p>Shipping Price</p>
      <input type="number" [(ngModel)]="shipping_Price" name="shippping_price_null" placeholder="Enter shipping price" *ngIf="item == null" />
      <input type="number" name="shipping_price" [(ngModel)]="shipping_Price" *ngIf="item != null" placeholder="{{item.shipping_Price}}">


      <p>Category</p>
      <div *ngIf="item == null">
        <select id="category" class="form-control" name="category" [(ngModel)]="selectedOption_category">
          <option *ngFor="let dataItem of CategoryList" value="{{dataItem.categoryId}}">{{dataItem.category_Name}}</option>
        </select>
      </div>

      <input type="text" name="category_edit" [(ngModel)]="category" *ngIf="item != null && selectedCategory != true" placeholder="{{item.category_Name}}"
             (click)="selectCategory()" />

      <div *ngIf="item != null &&selectedCategory">
        <select id="category" class="form-control" name="category" [(ngModel)]="selectedOption_category">
          <option *ngFor="let dataItem of CategoryList" value="{{dataItem.categoryId}}">{{dataItem.category_Name}}</option>
        </select>
      </div>


      <p>Supplier</p>
      <div *ngIf="item == null">
        <select class="form-control" id="beszallito" name="beszallito" [(ngModel)]="selectedOption_supplier">
          <option *ngFor="let dataItem of SupplierList" value="{{dataItem.supplierId}}">{{dataItem.name}}</option>
        </select>
      </div>

      <input type="text" name="supplier_edit" [(ngModel)]="supplier" *ngIf="item != null && selected_supplier != true" placeholder="{{item.name}}"
             (click)="selectSupplier()" />

      <div *ngIf="item != null && selected_supplier">
        <select class="form-control" id="beszallito" name="beszallito" [(ngModel)]="selectedOption_supplier">
          <option *ngFor="let dataItem of SupplierList" value="{{dataItem.supplierId}}">{{dataItem.name}}</option>
        </select>
      </div>




      <p>Product Description</p>
      <input type="text" name="description" [(ngModel)]="product_Description" *ngIf="item != null" placeholder="{{item.product_Description}}" />
      <input type="text" name="description_null" [(ngModel)]="product_Description" *ngIf="item == null" placeholder="Enter product description" />


      <input type="submit" name="addButton" value="Add" (click)="addProduct()" *ngIf="item == null">
      <input type="submit" name="editButton" value="Modify" (click)="updateProduct()" *ngIf="item != null">
      <input type="submit" name="cancelButton" value="Cancel" (click)="cancel()">
    </form>
  </div>
</body>
