<div class="form">
  <label class="col-sm-2 col-form-label">
    Product Name
  </label>
  <div class="col-sm-10">
    <input type="text" class="form-control" [(ngModel)]="product_Name"
           *ngIf="item != null" placeholder="{{item.product_Name}}" />
  </div>
  <div class="col-sm-10">
    <input type="text" class="form-control" [(ngModel)]="product_Name"
           *ngIf="item == null" placeholder="Enter the product name" />
  </div>
  <label class="col-sm-2 col-form-label">
    Product price
  </label>
  <div class="col-sm-10">
    <input type="number" class="form-control" [(ngModel)]="price"
           *ngIf="item == null" placeholder="Enter the price" />
  </div>
  <div class="col-sm-10">
    <input type="number" class="form-control" [(ngModel)]="price"
           *ngIf="item != null" placeholder="{{item.price}}" />
  </div>
  <label class="col-sm-2 col-form-label">
    Product shipping price
  </label>
  <div class="col-sm-10">
    <input type="number" class="form-control" [(ngModel)]="shipping_Price"
           *ngIf="item == null" placeholder="Enter the price" />
  </div>
  <div class="col-sm-10">
    <input type="number" class="form-control" [(ngModel)]="shipping_Price"
           *ngIf="item  != null" placeholder="{{item.shipping_Price}}" />
  </div>
  <label class="col-sm-2 col-form-label">
    Product category id
  </label>
  <div class="col-sm-10">
    <input type="number" class="form-control" [(ngModel)]="categoryId"
           *ngIf="item == null" placeholder="Enter the category id" />
  </div>
  <div class="col-sm-10">
    <input type="number" class="form-control" [(ngModel)]="categoryId"
           *ngIf="item != null" placeholder="{{item.categoryId}}" />
  </div>
  <label class="col-sm-2 col-form-label">
    Product supplier id
  </label>
  <div class="col-sm-10">
    <input type="number" class="form-control" [(ngModel)]="supplierId"
           *ngIf="item == null" placeholder="Enter the supplier id" />
  </div>
  <div class="col-sm-10">
    <input type="number" class="form-control" [(ngModel)]="supplierId"
           *ngIf="item != null" placeholder="{{item.supplierId}}" />
  </div>
  <label class="col-sm-2 col-form-label">
    Product description
  </label>
  <div class="col-sm-10">
    <input type="text" class="form-control" [(ngModel)]="product_Description"
           *ngIf="item == null" placeholder="Enter the product description" />
  </div>
  <div class="col-sm-10">
    <input type="text" class="form-control" [(ngModel)]="product_Description"
           *ngIf="item != null" placeholder="{{item.product_Description}}" />
  </div>
  <button (click)="addProduct()" class=" btn btn-primary">Add</button>

</div>
