

 






<div class="form">
  <label class="col-sm-2 col-form-label">
    User name
  </label>
  <div class="col-sm-10">


 
  <div *ngIf="item == null">
    <select [(ngModel)]="selectedOption">
      <option *ngFor="let dataItem of UserList" value="{{dataItem.username}}">{{dataItem.username}}</option>
    </select>
  </div>
    <input type="text" class="form-control" [(ngModel)]="userName"
           *ngIf="item != null" placeholder="{{item.userName}}" />
  </div>
  <label class="col-sm-2 col-form-label">
    PaymentMethod
  </label>
  <div class="col-sm-10">
    <input type="text" class="form-control" [(ngModel)]="paymentMetod"
           *ngIf="item == null" placeholder="Enter the paymentmetod" />
    <input type="text" class="form-control" [(ngModel)]="paymentMetod"
           *ngIf="item != null" placeholder="{{item.paymentMetod}}" />
  </div>

  <label class="col-sm-2 col-form-label">
    ShippingMethod
  </label>
  <div class="col-sm-10">
    <input type="text" class="form-control" [(ngModel)]="shippingMethod"
           *ngIf="item == null" placeholder="Enter the shippingMethod" />
    <input type="text" class="form-control" [(ngModel)]="shippingMethod"
           *ngIf="item != null" placeholder="{{item.shippingMethod}}" />
  </div>
  <label class="col-sm-2 col-form-label">
    OrderTime
  </label>
  <div class="col-sm-10">
    <input type="text" class="form-control" [(ngModel)]="orderTime"
           *ngIf="item == null" placeholder="Enter the orderTime" />
    <input type="text" class="form-control" [(ngModel)]="orderTime"
           *ngIf="item != null" placeholder="{{item.orderTime}}" />
  </div>
  <label *ngIf="item != null" class="col-sm-2 col-form-label">
    statusName
  </label>
  <div class="col-sm-10">
    <input type="text" class="form-control" [(ngModel)]="statusName"
           *ngIf="item != null" placeholder="{{item.statusName}}" />
  </div>
  <button (click)="addOrder()" *ngIf="item== null" class=" btn btn-primary">Add</button>
  <button (click)="updateOrder()" *ngIf="item != null" class=" btn btn-primary">Update</button>
</div>

