<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12 segment-one">
        <h6>About us</h6>
        <p class="footer-p">
          BME Training Project lab<br>
          Made by<br>Roland Surmann,<br> Kristóf Varga <br>
          2020<br>
          Design from:<br><a href="https://easytutorialspro.com/" style="color:brown">https://easytutorialspro.com/</a>
        </p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 segment-two">
        <h6>Follow us</h6>
        <p class="footer-p">Please follow us on our social media profile in order to keep updated.</p>
        <a href="https://www.facebook.com/"><i class="foot fab fa-facebook"></i> </a>
        <a href="https://twitter.com/"><i class="foot fab fa-twitter"></i> </a>
        <a href="https://www.instagram.com/"><i class="foot fab fa-instagram"></i> </a>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstleyVEVO"><i class="foot fab fa-youtube"></i> </a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 segment-three">
        <h6>Our Newsletter</h6>
        <p class="footer-p">Please subscribe our newsletter to get the latest news!</p>
        <form action="">
          <input type="email" name="email" id="email">
          <input type="submit" value="Subscribe">
        </form>
      </div>
    </div>
  </div>
</div>

