<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Techonomy</title>
  <link rel="stylesheet" href="webshopstyle.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>
<body>
  <app-navbar></app-navbar>
 
  <!---------- content ---------------->
  <div class="small-container">
    <div class="row marginer">
      <p class="titlecart pta">Products</p>
    </div>
    <div class="row marginer2">
      <div class="filter">
        <label for="name">Name filter:</label>
        <input type="search" name="name" id="name" [(ngModel)]="inputFieldName">
      </div>
      <div class="filter">
        <label for="category">Category filter:</label>
        <select class="form-control" id="category" name="category" [(ngModel)]="selectedOption_category">
          <option selected="selected" value="-1">none</option>
          <option *ngFor="let categoryItem of CategoryList" value="{{categoryItem.categoryId}}">{{categoryItem.category_Name}}</option>

        </select>
      </div>
      <div class="filter">
        <a><i class="fas fa-search" (click)="filterClicked()"></i></a>
      </div>
    </div>
    <div class="row" *ngIf="ProductImageNameList.length == 0" style="padding-top:100px;padding-bottom:100px;"><h2>Couldn't find any products that you were looking for</h2></div>

    <div class="row">
      <div class="col-4" *ngFor="let item of ProductImageNameList; let j = index">

        <img src="{{ProductImageNameList[j]}}" (click)="productPictureClicked(ProductList[j])">
        <h4>{{ProductList[j].product_Name}}</h4>
        <div class="rating">
          <i class="fas fa-star" *ngFor="let test of ProductList[j].starsList"></i>
          <i class="far fa-star" *ngFor="let test of ProductList[j].emptyStarsList"></i>
        </div>

        <p>{{ProductList[j].price}}</p>

      </div>
    </div>
  </div>
  <!------- footer ------------>
  <app-footer></app-footer>
</body>
</html>
